body{
    background-color: #EACBC8;
    font-family: 'Inter', Arial;
}
.background-toolbar{
    position: absolute;
    width: 60%;
    height: 700px;
    top: 10%;
    left: 20%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr;
    z-index: -555;
}

.background-right{
    background-color: #444969E5;
    width: 100%;
    height: 100%;
    position:absolute;
    box-sizing: border-box;
    grid-column: 2/3;
    grid-row: 2/2;
    border-radius: 0px 0px 45px 0px;
    font-size: 16px;
    color:#FFF;
    padding: 30px;
}

.background-left{
    background-color: #93A3BD;
    border-radius: 0px 0px 0px 45px;
    width: 100%;
    height: 100%;
    grid-column: 1/1; 
    grid-row: 2/2;  
    position:absolute;
    display:block;
}

.background-top{
    background-color: #EC9085;
    border-radius: 45px 45px 0px 0px;
    grid-column: span 2;
    grid-row: 1/1;
    display: inline-flex;
}

li{
    list-style-type:none;
}

.menu{
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    display: flex;
    align-self: flex-end;
}
.name{
    font-size:30px;
    margin-top: 18px;
    margin-left: 25px;
    color: #FFF;
    font-weight: 600;
}
.fechar {
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 30px;
    top:20px;
    position: absolute;
    background: #FFE7DD url('/img/close_black_24dp.svg') no-repeat center center;
    cursor: pointer;
  }
  .minimizar {
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 70px;
    top:20px;
    position: absolute;
    background: #FFE7DD url('/img/minimize_black_24dp.svg') no-repeat center center;
    cursor: pointer;
  }
  
