@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body{
    background: linear-gradient(90deg, rgba(255,231,221,1) 21%, rgba(234,203,200,1) 99%);
    font-family: 'Inter', Arial;
}
.background-toolbar{
    position: absolute;
    width: 60%;
    height: 700px;
    top: 10%;
    left: 20%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr;
    z-index: -555;
}
.background-right{
    background-color: #444969E5;
    width: 100%;
    height: 100%;
    position:absolute;
    box-sizing: border-box;
    grid-column: 2/3;
    grid-row: 2/2;
    border-radius: 0px 0px 45px 0px;
    font-size: 16px;
    color:#FFF;
    padding: 30px;
}
.background-left{
    background-color: #93A3BD;
    border-radius: 0px 0px 0px 45px;
    width: 100%;
    height: 100%;
    grid-column: 1/1; 
    grid-row: 2/2;  
    position:absolute;
    display:block;
}
.background-top{
    background-color: #EC9085;
    border-radius: 45px 45px 0px 0px;
    grid-column: span 2;
    grid-row: 1/1;
    display: inline-flex;
}
li{
    list-style-type:none;
}

.file {
    border: none;
    background: none;
    width: 48px;
    height: 48px;
    left: -80px;
    top:100px;
    position: absolute;
    background: url('/img/description_FILL0_wght400_GRAD0_opsz48.svg') no-repeat center center;
    cursor: pointer;
}

.bin {
    border: none;
    background: none;
    width: 48px;
    height: 48px;
    right: -200px;
    bottom: 20px;
    position: absolute;
    background: url('/img/delete_FILL0_wght400_GRAD0_opsz48.svg') no-repeat center center;
    cursor: pointer;
}

.name{
    font-size: 30px;
    margin-top: 18px;
    margin-left: 25px;
    color: #FFF;
}
.fechar {
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 30px;
    top:20px;
    position: absolute;
    background: #FFE7DD url('/img/close_black_24dp.svg') no-repeat center center;
    cursor: pointer;
  }
  .minimizar {
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 70px;
    top: 20px;
    position: absolute;
    background: #FFE7DD url('/img/minimize_black_24dp.svg') no-repeat center center;
    cursor: pointer;
  }

.menu{
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    display: flex;
    align-self: flex-end;
} 