@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body{
    background: linear-gradient(90deg, rgba(255,231,221,1) 21%, rgba(234,203,200,1) 99%);
    font-family: 'Inter', Arial;
}

* {cursor: url("https://raw.githubusercontent.com/anyhsalinas/cursors/master/simplecursor5a.png"), auto;}
a, a li, a li i, a span, a span i, a i, a iframe, a div, a div i, a img, a p, a svg, a path, button{cursor: url("https://raw.githubusercontent.com/anyhsalinas/cursors/master/simplecursor5b.png"), pointer;}

.background-content{
    position: absolute;
    width: 60%;
    height: 700px;
    top: 5%;
    left: 20%;
    z-index: -555;
}

.background-3rd{
    background-color: #555673;
    width: 100%;
    height: 90%;
    position:absolute;
    box-sizing: border-box;
    border-radius: 0px 0px 35px 35px;
    font-size: 16px;
    color:#FFF;
    padding: 30px;
}

.background-2rd{
    background-color: #93A3BD;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    display:flex;
    place-items: center center;

}

.background-top{
    background-color: #EC9085;
    border-radius: 35px 35px 0px 0px;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    gap:20px;
}

li{
    list-style-type:none;
}

.name{
    font-size: 25px;
    color: #FFF;
    margin-left: 25px;
    margin-top: 7px;
}

.buttons{
    margin-top: 7px;
    margin-right: 10px;
    
}

.fechar {
    border: none;
    background: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 30px;
    background: #FFE7DD url('/img/close.svg') no-repeat center center;
}

.minimizar {
    border: none;
    background: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    background: #FFE7DD url('/img/minimize_black_24dp.svg') no-repeat center center;
}

.adress{
    border: none;
    background: rgba(234,203,200,0.7);
    margin: 0px;
    border-radius: 35px;
    width: 80%;
}

.menu{
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    display: flex;
    align-self: flex-end;
}

.image{
    border-radius: 35px;
    width: 150px;
    justify-self: end;
}