@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body{
    background: linear-gradient(90deg, rgba(255,231,221,1) 21%, rgba(234,203,200,1) 99%);
    font-family: 'Inter', Arial;
}

.container{
    display: flex; 
    gap: 40px; 
    justify-content: center; 
    align-items: center;
}

.container-1{
    background-color: #006d77; 
    height: 200px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.container-2{
    background-color: #83c5be; 
    height: 200px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.container-3{
    background-color: #edf6f9; 
    height: 200px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.container-big{
    width: 1000px;
    max-width: 100%;
}

.container-big-div{
    background-color: white; 
    height: fit-content; 
    border-radius: 10px 10px 10px 10px;
}

.container-big-div-div{
    display: flex; 
    justify-content: initial; 
    margin-left: 20px; 
    align-items: center;
}

.container-big-div-div-circles-div{
    display: flex;
    padding: 10px 0 10px 10px;
}

.circle-red{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    background-color: #ff6058;
}

.circle-yellow{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    background-color: #fec12e;
}

.circle-green{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    background-color: #27c93f;
    margin-right: 40px;
}

.tab-1{
    background-color: #e29578; 
    margin-right: 0px; 
    height: 40px; 
    padding: 0px 180px 0 40px; 
    border-radius: 10px 10px 0px 0px; 
    color: white; 
    align-self: end; 
    display: flex; 
    align-items: center;
}

.tab-2{
    background-color: #ffddd2; 
    height: 40px; 
    padding: 0px 180px 0 40px; 
    border-radius: 10px 10px 0px 0px; 
    color: white; 
    align-self: end; 
    display: flex; 
    align-items: center;
}

.url-div{
    background-color: #e29578;
}

.url-div-div{
    padding: 10px 0px 10px 30px; 
    display: flex; 
    gap: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24,
}

.teste{
    padding: 10px 0px 10px 30px; 
    display: flex; 
    gap: 10px;
}

.url-text{
    background-color: white; 
    border-radius: 10px; 
    width: 600px; 
    display: flex; 
    font-size: 13px; 
    padding-left: 10px; 
    align-items: center;
}

.teste-2{
    background-color: white; 
    border-radius: 0px 0px 10px 10px; 
    padding: 30px; 
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.titulo-interior{
    background-color:#EC9085;
    color: white;
    margin-top: 20px;
}

.teste-3{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}